/**
 * 全局变量
 * 命名规范 —— 遵守语义化命名：lg-大号、md-中号、base-基本号、sm-小号、mini-超小号
 */

$font-weight-base: 400;

$border-color-base: rgba(101, 135, 248, 0.36);

$font-size-lg: 18px;
$font-size-md: 16px;
$font-size-base: 14px;
$font-size-sm: 12px;
$font-size-mini: 10px;

$color-important: #222222;
$color-common: #606060;
$color-desc: #909090;
$color-disabled: #BFBFBF;
$color-error: #F04134;
$color-warn: #F5A623;
$color-lighting: #9013FE;
