//定位全屏
@mixin allcover {
    position: absolute;
    top: 0;
    right: 0;
}

//transform上下左右居中
@mixin ct {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//定位上下左右居中
@mixin ctp($width, $height) {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -$height/2;
    margin-left: -$width/2;
}

//定位上下居中
@mixin tb {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

//定位左右居中
@mixin lr {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

//宽高
@mixin wh($width, $height) {
    width: $width;
    height: $height;
}

//字体大小、行高、字体
@mixin ft($size, $line-height) {
    font-size: $size;
    line-height: $line-height;
}

//字体大小，颜色
@mixin sc($size, $color) {
    font-size: $size;
    color: $color;
}

//flex 布局和 子元素 对其方式
@mixin fj($type: space-between) {
    display: flex;
    justify-content: $type;
}

//2倍图、3倍图
@mixin bg-image($url) {
    // background-image: url("./images/"+ $url + "@2x.png")
    // @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
    //   background-image: url("./images/"+ $url + "@3x.png")
}

@mixin modalbg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

@mixin flex($direction: column, $wrap: nowrap) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin clear() {
    &:after {
        content: '.';
        clear: both;
        display: block;
        width: 0;
        height: 0;
        visibility: hidden;
    }
}