// 全局变量

$text-title-size: 18px;
$text-btn-size: 16px;
$text-common-size: 14px;
$text-info-size: 12px;
$text-tip-size: 10px;

$color-important: #222222;
$color-common: #606060;
$color-desc: #909090;
$color-disabled: #BFBFBF;
$color-error: #F04134;
$color-warn: #F5A623;
$color-lighting: #9013FE;
